[user]
    name = Your Name
    email = your@email.com
[color]
    ui = auto
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[alias]
    co = checkout
    br = branch
    cm = commit -m
    st = status